/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 6.25%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-width: 320px;
    height: 100vh;
    font-size: 16rem;
}
a {
    text-decoration: none;
}

/* Header */
header {
    width: 100%;
    height: 60px;
}
header nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    padding: 0 10px;
}
header nav .nav-right-section {
    width: auto;
    height: auto;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
nav .nav-right-section li {
    margin: 0 10px;
}
nav .nav-right-section a {
    display: flex;
    color: #000000;
    font-size: 13rem;
}
header .nav-right-section .menu-icon-container {
    width: 16px;
    height: 16px;
}
nav .nav-right-section .menu-icon {
    width: 100%;
    height: 100%;
}
nav .nav-right-section .profile-photo {
    border-radius: 50%;
}

/* Main */
main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    width: 100%;
}

/* Main logo */
main .main-logo {
    display: flex;
    justify-content: center;
    width: 100%;
}
main .main-logo a {
    width: 80%;
    max-width: 300px;
}
main .main-logo img {
    width: 100%;
}

/* Main input */
main .main-input {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}
main .main-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;
    max-width: 584px;
    min-height: 44px;
    padding: 0px 14px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
main .main-input-container:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}
main .main-input .search-icon-container {
    display: inline-block;
    width: 20px;
    min-width: 20px;
    height: 20px;
}
main .main-input .search-icon {
    width: 100%;
    height: 100%;
}
main .main-input input {
    border: none;
    outline: none;
    font-size: 16rem;
    line-height: 28rem;
    width: 90%;
}
main .main-input .micro-icon-container {
    display: inline-block;
    width: 24px;
    min-width: 24px;
    height: 24px;
}
main .main-input .micro-icon {
    width: 100%;
    height: 100%;
}

/* Main buttons */
main .main-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}
main .main-buttons button {
    background-color: #f8f9fa;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 36px;
    padding: 0 16px;
    text-align: center;
    margin: 0 6px;
}
main .main-buttons button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
    color: #202124;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
}
footer .first-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 47.5px;
    border-bottom: 1px solid #dadce0;
}
footer .first-section p {
    padding: 0 10px;
    color: #70757a;
    font-size: 15rem;
}
footer .second-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 47.5px;
}
footer .second-section ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    padding: 8px 0;
}
footer .second-section a {
    padding: 15px;
    color: #70757a;
    font-size: 14rem;
}
